{% extends 'layout.html.twig' %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/homestyle.css"> {% endblock %}
{% block content %}
<h1>MWFC</h1>
<h2>Mars Weapons Fight Club</h2>

<div class="container menu">
  <div class="product">
    <a href="/game/index" class="link">
      <div class="effect-1"></div>
      <div class="effect-2"></div>
      <div class="content">
         <div class="exercise"></div>
      </div>
      <span class="title">
        Octogone
        <span class="subtitle">Finish Him</span>
      </span>
    </a>
  </div>
  <div class="product">
    <a href="/weapons/index" class="link">
        <div class="effect-1"></div>
        <div class="effect-2"></div>
        <div class="content">
            <div class="sleep"></div>
        </div>
        <span class="title">
            Armes
        <span class="subtitle">Notre Arsenal</span>
        </span>
    </a>
  </div>
  <div class="product">
    <a href="/fighters/index" class="link">
        <div class="effect-1"></div>
        <div class="effect-2"></div>
        <div class="content">
            <div class="meditation"></div>
        </div>
        <span class="title">
            Combattants
            <span class="subtitle">Qui sommes-nous?</span>
        </span>
    </a>
  </div>
  <div class="product">
    <div class="effect-1"></div>
    <div class="effect-2"></div>
    <div class="content">
      <div class="exercise"></div>
    </div>
    <span class="title">
        Lieux
      <span class="subtitle">Les arènes</span>
    </span>
  </div>
</div>
<div class="style425">
    <div class="fighters-button">
        <a href="/game/index" class="fighters-return">Octogone</a>
    </div>
    <div class="fighters-button">
        <a href="/weapons/index" class="fighters-return">Armes</a>
    </div>
    <div class="fighters-button">
        <a href="/fighters/index" class="fighters-return">Combattants</a>
    </div>
    <div class="fighters-button">
        <a href="/home/index" class="fighters-return">Lieux</a>
    </div>
</div>
{% endblock %}
