{% block weapons %}
    <div>
        <div class="card mb-3">
            <img src="/assets/images/weapons/helix.gif" class="card-img-top" alt="Coup d'hélice">
            <div class="card-body">
                <h5 class="card-title">Attaque: Coup d'hélice</h5>
                <p class="card-text">Ginny s'élance sur son adversaire afin de lui asséner des coups d'hélice bien placés ! Ça fouette !</p>
                <p class="card-text"><small class="text-muted">"La bise frérot" Citation de Ginny, aérobot hélicoptère de génie.</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img src="/assets/images/weapons/charge.gif" class="card-img-top" alt="Charge">
            <div class="card-body">
                <h5 class="card-title">Attaque: Charge</h5>
                <p class="card-text">Ginny ne saurait s'arrêter, elle s'élance tel un bélier enragé ! Ça bouscule !</p>
                <p class="card-text"><small class="text-muted">"Et oué, je vise les genoux !" Citation de Ginny, aérobot hélicoptère de génie.</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img src="/assets/images/weapons/solar.gif" class="card-img-top" alt="Réfléxion solaire">
            <div class="card-body">
                <h5 class="card-title">Attaque: Réfléxion Solaire</h5>
                <p class="card-text">Ginny est vicieuse, elle n'hésite pas à aveugler son adversaire ! Ça brûle !</p>
                <p class="card-text"><small class="text-muted">"Pense à tes Ray-Ban la prochaine fois !" Citation de Ginny, aérobot hélicoptère de génie.</small></p>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-3">
            <img src="/assets/images/weapons/camera.gif" class="card-img-top" alt="Coup de caméra">
            <div class="card-body">
                <h5 class="card-title">Attaque: Coup de caméra</h5>
                <p class="card-text">Percy balance sa perche à selfie, sa caméra, pardon, sur la tête de son adversaire ! Ça cogne !</p>
                <p class="card-text"><small class="text-muted">"Je te filerai de la pommade !" Citation de Percy, le chouchou de la NASA.</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img src="/assets/images/weapons/roll.gif" class="card-img-top" alt="Rouler">
            <div class="card-body">
                <h5 class="card-title">Attaque: Rouler</h5>
                <p class="card-text">Percy roule sur son adversaire comme ci il s'agissait d'une quiche Lorraine en préparation ! Ça douille !</p>
                <p class="card-text"><small class="text-muted">"Tu feras gaffe, je passe !" Citation de Percy, le chouchou de la NASA.</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img src="/assets/images/weapons/net.gif" class="card-img-top" alt="Lanceur de filet">
            <div class="card-body">
                <h5 class="card-title">Attaque: Lanceur de filet</h5>
                <p class="card-text">Percy est mesquin, il balance un filet sur son adversaire pour le bloquer ! Ça châtouille !</p>
                <p class="card-text"><small class="text-muted">"Si seulement tes hélices étaient plus coupantes !" Citation de Percy, le chouchou de la NASA.</small></p>
            </div>
        </div>
    </div>
{% endblock %}