{% block weapons %}
    <h1>L'arsenal de nos combattants !</h1> 
    <section class="fighters">
    <div class="fighters-button">
        <a href="/home/index" class="fighters-return">← Retour à l'accueil</a>
    </div>
    <div class="test">
        <p class="button">
            <button class="toggle btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Percy</button>
            <a class="toggle btn" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Ginny</a>        
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body">
                        <div class="title">
                            <h2>Les armes de Percy !</h2>
                        </div>
                        <div class="weapons col-xl-6 offset-xl-3">
                            <div class="weapon card mb-3">
                                <img src="/assets/images/weapons/camera.gif" class="card-img-top" alt="Coup de caméra">
                                <div class="card-body">
                                    <h5 class="card-title">Attaque: Coup de caméra</h5>
                                    <p class="card-text">Percy balance sa perche à selfie, sa caméra, pardon, sur la tête de son adversaire ! Ça cogne !</p>
                                    <p class="card-text"><small class="text-muted">"Je te filerai de la pommade !" Citation de Percy, le chouchou de la NASA.</small></p>
                                </div>
                            </div>
                            <div class="weapon card mb-3">
                                <img src="/assets/images/weapons/roll.gif" class="card-img-top" alt="Rouler">
                                <div class="card-body">
                                    <h5 class="card-title">Attaque: Rouler</h5>
                                    <p class="card-text">Percy roule sur son adversaire comme ci il s'agissait d'une quiche Lorraine en préparation ! Ça douille !</p>
                                    <p class="card-text"><small class="text-muted">"Tu feras gaffe, je passe !" Citation de Percy, le chouchou de la NASA.</small></p>
                                </div>
                            </div>
                            <div class="weapon card mb-3">
                                <img src="/assets/images/weapons/net.gif" class="card-img-top" alt="Lanceur de filet">
                                <div class="card-body">
                                    <h5 class="card-title">Attaque: Lanceur de filet</h5>
                                    <p class="card-text">Percy est mesquin, il balance un filet sur son adversaire pour le bloquer ! Ça châtouille !</p>
                                    <p class="card-text"><small class="text-muted">"Si seulement tes hélices étaient plus coupantes !" Citation de Percy, le chouchou de la NASA.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                        <div class="title">
                            <h2>Les armes de Ginny !</h2>
                        </div>
                        <div class="weapons col-xl-6 offset-xl-3">
                            <div class="weapon card mb-3">
                            <img src="/assets/images/weapons/helix.gif" class="card-img-top" alt="Coup d'hélice">
                                <div class="card-body">
                                    <h5 class="card-title">Attaque: Coup d'hélice</h5>
                                    <p class="card-text">Ginny s'élance sur son adversaire afin de lui asséner des coups d'hélice bien placés ! Ça fouette !</p>
                                    <p class="card-text"><small class="text-muted">"La bise frérot" Citation de Ginny, aérobot hélicoptère de génie.</small></p>
                                </div>
                            </div>
                            <div class="weapon card mb-3">
                                <img src="/assets/images/weapons/charge.gif" class="card-img-top" alt="Charge">
                                <div class="card-body">
                                    <h5 class="card-title">Attaque: Charge</h5>
                                    <p class="card-text">Ginny ne saurait s'arrêter, elle s'élance tel un bélier enragé assoiffé de rouille ! Ça bouscule !</p>
                                    <p class="card-text"><small class="text-muted">"Et oué, je vise les genoux !" Citation de Ginny, aérobot hélicoptère de génie.</small></p>
                                </div>
                            </div>
                            <div class="weapon card mb-3">
                                <img src="/assets/images/weapons/solar.gif" class="card-img-top" alt="Réfléxion solaire">
                                <div class="card-body">
                                    <h5 class="card-title">Attaque: Réfléxion Solaire</h5>
                                    <p class="card-text">Ginny est vicieuse, elle n'hésite pas à aveugler son adversaire sans vergogne ! Ça brûle !</p>
                                    <p class="card-text"><small class="text-muted">"Pense à tes Ray-Ban la prochaine fois !" Citation de Ginny, aérobot hélicoptère de génie.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
    </svg>
    <div class="advertisement alert alert-danger d-flex align-items-center justify-content-center mt-3" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="30" height="30"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            Une plateforme de pari sera bientôt disponible !
        </div>
    </div>
    </section>
{% endblock %}