{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - Combattants{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/fighters.css">
{% endblock %}

{% block content %}
    <h1>Les combattants</h1>
{% endblock %}
